<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Inventory System web app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/LineIcons.3.0.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/tiny-slider.css" rel="stylesheet" />
    <link href="~/assets/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.3.7/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.23.0/sweetalert2.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>



</head>


<body>
    <!-- ================= HEADER ================= -->
    <header class="header-clean">
        <div class="container">
            <nav class="navbar navbar-expand-lg">


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="lni lni-menu"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AdminDashboard","Home")">Acciones de Administrador</a>
                        </li>
                        <li class="nav-item ms-lg-3">
                            <a href="@Url.Action("UserDetail","User")" class="main-btn primary-btn-outline btn-sm">Perfil</a>
                        </li>
                        <li class="nav-item ms-2">
                            <a href="@Url.Action("Signup","Home")" class="main-btn primary-btn btn-sm">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- ================= HERO (opcional) ================= -->
    <!-- ================= CONTENIDO ================= -->
    <main class="container-fluid px-4">
        @RenderBody()
    </main>

    <!-- ================= FOOTER ================= -->
    <footer class="footer-simple">
        <div class="container">
            <strong>Gestion de inventarios</strong><br />
            Universidad Fidélitas — Programación Avanzada SC604<br />
            Grupo 4 · © @DateTime.Now.Year
        </div>
    </footer>

    <!-- JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.23.0/sweetalert2.all.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
