@model G4_SC601_KN_Proyecto.Models.PerfilModel


<div class="signup-wrapper">
    <div class="form-wrapper">
        <h3 class="mb-15">Actualizar Usuario</h3>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Message
            </div>
        }

        @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { @id = "FormUpdateUser" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-12">
                    <div class="input-style-1">
                        <label>Nombre</label>
                        @Html.TextBoxFor(u => u.Nombre, new { @placeholder = "Nombre", @class = "form-control" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-style-1">
                        <label>Primer Apellido</label>
                        @Html.TextBoxFor(u => u.Apellido1, new { @placeholder = "Primer Apellido", @class = "form-control" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-style-1">
                        <label>Nombre de Usuario</label>
                        @Html.TextBoxFor(u => u.UsuarioLogin, new { @placeholder = "Usuario", @class = "form-control" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-style-1">
                        <label>Correo Elctrónico</label>
                        @Html.TextBoxFor(u => u.Email, new { @placeholder = "Correo Electrónico", @type = "email", @class = "form-control" })
                    </div>
                </div>

                <div class="col-12">
                    <div class="input-style-1">
                        <label>Rol de Usuario</label>
                        @Html.DropDownListFor(u => u.RolUsuario, 
                       (SelectList)ViewBag.TiposRoles,
                       "-- Seleccione un rol --", 
                       new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="button-group d-flex justify-content-center flex-wrap">
                        <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">
                            Actualizar Usuario
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/assets/js/validaciones/UserValidations .js"></script>
